html {
  font-size: 14px;
  position: relative;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

header, footer {
  background-color: #3b945E;
}

footer p {
  color: white;
}

#sideNav {
  background-color: #57BA98;
}

.nav-link {
  text-align: center;
  color: white;
}

.nav-link:focus, .nav-link:hover {
  color: wheat;
}

.scene {
  background: gainsboro;
}

.fan-zone {
  background: burlywood;
}