@model FestivalTicketsApp.WebUI.Models.Host.HostDetailsViewModel

<div class="container h-100 d-flex flex-column">
    <h1 class="fw-bold">@Model.Host.Name</h1>
    <div class="row mt-4">
        <div class="col-9">   
            @{ await Html.RenderPartialAsync("DescriptionPart", Model.Host); }
        </div>
        
        <div class="col-3">
            @{ await Html.RenderPartialAsync("LocationPart", Model.Host.Location); }
        </div>
    </div>
    @{ await Html.RenderPartialAsync("SameHostEventsPart", Model.HostedEvents); }
</div>