@model FestivalTicketsApp.Application.HostService.DTO.LocationDto

<h3 class="mb-2">Location info</h3>
<p>City: @Model.CityName</p>
<p>Street: @Model.StreetName</p>
<p>Building number: @Model.BuildingNumber</p>
