@model FestivalTicketsApp.WebUI.Models.Event.EventDetailsViewModel

<div class="border border-dark">
    <p>@Model.Event.Title</p>
</div>


<div>
    @{
        await Html.RenderPartialAsync("DescriptionPart", Model.Event);
        await Html.RenderPartialAsync("DetailsPart", Model.Event);
        await Html.RenderPartialAsync("SameHostEventsPart", Model.HostedEvents);
    }
</div>