@model List<FestivalTicketsApp.Application.EventService.DTO.EventDto>

<div>
    @{
        foreach (var eventDto in Model)
        {
            <div class="border border-dark">
                <a asp-controller="Event" asp-action="Details" asp-route-id="@eventDto.Id">
                    <p>@eventDto.Title</p>
                    <p>@eventDto.HostName</p>
                    <p>@eventDto.StartDate</p>
                </a>
            </div>

        }
    }
</div>