@model FestivalTicketsApp.WebUI.Models.Event.EventListViewModel

@{
    List<SelectListItem> genreOptions = Model.Genres
        .Select(dto => 
            new SelectListItem { Value = dto.Id.ToString(), Text = dto.Name })
        .ToList();

    genreOptions.Insert(0, new() { Value = null, Text = "All" });
    
    List<SelectListItem> cityOptions = Model.CityNames        
        .Select(dto => 
            new SelectListItem { Value = dto, Text = dto })
        .ToList();
}

<div class="container mt-1 mb-3">
    <form asp-controller="Event" asp-action="List" method="GET">
        <div class="row">
            <label asp-for="QueryState.StartDate" class="col-3 text-center">Start Date</label>
            <label asp-for="QueryState.EndDate" class="col-3 text-center">End Date</label>
            <label asp-for="QueryState.GenreId" class="col-2 text-center">Genre name</label>
            <label asp-for="QueryState.CityName" class="col-2 text-center">City</label>   
        </div>
        <div class="row">
            <input type="date" asp-for="QueryState.StartDate" class="col-3"/>
            <input type="date" asp-for="QueryState.EndDate" class="col-3"/>
            <select asp-for="QueryState.GenreId" asp-items="@genreOptions" class="col-2"></select>
            <select asp-for="QueryState.CityName" asp-items="@cityOptions" class="col-2"></select>
            <input type="submit" class="col-2"/>
        </div>
    </form>
</div>

<script>
    $(document).ready(() => {
        $('#QueryState_StartDate').change((event) => {
            var startDate = $(event.target).val();
            $('#QueryState_EndDate').attr('min', startDate);
        });
    
        $('#QueryState_EndDate').change((event) => {
            var endDate = $(event.target).val();
            $('#QueryState_StartDate').attr('max', endDate);
        });
    });
</script>