@model FestivalTicketsApp.WebUI.Models.EventList.EventListViewModel

@{
    List<SelectListItem> genreOptions = Model.Genres!
        .Select(dto => 
            new SelectListItem { Value = dto.Id.ToString(), Text = dto.Name })
        .ToList();

    genreOptions.Insert(0, new() { Value = null, Text = "All" });
    
    List<SelectListItem> cityOptions = Model.CityNames!        
        .Select(dto => 
            new SelectListItem { Value = dto, Text = dto })
        .ToList();
}

<div>
    <form asp-controller="Event" asp-action="List" method="GET">
        <input type="date" asp-for="QueryState!.StartDate" />
        <input type="date" asp-for="QueryState!.EndDate" />
        <select asp-for="QueryState!.GenreId" asp-items="@genreOptions"></select>
        <select asp-for="QueryState!.CityName" asp-items="@cityOptions"></select>
        <input type="submit" />
    </form>
</div>

<script>
    $(document).ready(() => {
        $('#QueryState_StartDate').change((event) => {
            var startDate = $(event.target).val();
            $('#QueryState_EndDate').attr('min', startDate);
        });
    
        $('#QueryState_EndDate').change((event) => {
            var endDate = $(event.target).val();
            $('#QueryState_StartDate').attr('max', endDate);
        });
    });
</script>