@model FestivalTicketsApp.WebUI.Models.Event.EventListViewModel

<div class="container h-100 d-flex flex-column">
    @{
        await Html.RenderPartialAsync("FilterPart");
        await Html.RenderPartialAsync("EventsPart", Model.Events);
        await Html.RenderPartialAsync("Pagination", new PaginationModel(Model.CurrentPageNum, Model.NextPagesAmount));
    }
</div>