@model List<FestivalTicketsApp.Application.EventsService.DTO.EventTypeDto>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @{
                        foreach (var eventType in Model)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Event" as asp-action="List" asp-route-id="@eventType.Id">@eventType.Name</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>