@{
    var title = ViewBag.Title ?? "Festival tickets app";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@title</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/FestivalTicketsApp.WebUI.styles.css" asp-append-version="true"/>
    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <script src="~/Identity/lib/jquery/dist/jquery.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/1abe25a00c.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        @await Component.InvokeAsync("MainLayoutHeader")
    </header>
<div class="d-flex flex-grow-1">
    <nav id="sideNav" class="col-2">
        @await Component.InvokeAsync("SideNavigation")
    </nav>

    <main role="main" class="col-10 flex-grow-1">
        @RenderBody()
    </main>
</div>

    <footer id="sticky-footer" class="flex-shrink-0 py-2 align-content-center">
        <p class="text-center">Festival tickets apps - Saiian Artur</p>
    </footer>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>